*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

venv/*
vscode/*
kalah/KalahGame.py
temp_othello
kalah/kgp.py
best_models/
docker
train_examples/*
temp_128res/
src/learn/learn_multiprocessing.ipynb
src/learn/multiprocessing_test.py
